<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1px" width="100%">
               <tr>
                   <a th:href="@{/employee/emp}">添加</a>
               </tr>
                <tr>
                    <td>ID</td>
                    <td>姓名</td>
                    <td>邮箱</td>
                    <td>性别</td>
                    <td>DID</td>
                    <td colspan="2"> 操作</td>
                </tr>
                <tr th:each="emp : ${emps}">
                    <td th:text="${emp.id}"></td>
                    <td>[[${emp.lastName}]]</td>
                    <td th:text="${emp.email}"></td>
                    <td th:text="${emp.gender}==0?'女':'男'"></td>
                    <td th:text="${emp.dId}"></td>
                    <td><a th:href="@{/employee/emp/}+${emp.id}">修改</a></td>
                    <form th:action="@{/employee/emp/}+${emp.id}" method="post">
                     <input type="hidden" name="_method" value="delete">
                        <td><input type="submit" value="删除"></td>
                    </form>
                </tr>
        </table>
</body>
</html>